/**
 * @file
 * Block Styling
 */


.block /* Block wrapper */ {
  margin-bottom: 1em;
  margin-left:5px;
}

.block.first /* The first block in the region */ {
}

.block.last /* The last block in the region */ {
}

.block.region-odd /* Zebra striping for each block in the region */ {
}

.block.region-even /* Zebra striping for each block in the region */ {
}

.block.odd /* Zebra striping independent of each region */ {
}

.block.even /* Zebra striping independent of each region */ {
}

.region-count-1 /* Incremental count for each block in the region */ {
}

.count-1 /* Incremental count independent of each region */ {
}

.block h2.title /* Block title */ {
 color:white; /* Ajout Fatality : C'est juste pour tester, pas la couleur définitive *****TOCHANGE***** */
}

.block .content /* Block's content wrapper */ {
}

.block a {
	color: red; /* Ajout Fatality : C'est juste pour tester, pas la couleur définitive */
}

#block-aggregator-category-1 /* Block for the latest news items in the first category */ {
}

#block-aggregator-feed-1 /* Block for the latest news items in the first feed */ {
}

#block-block-1 /* First administrator-defined block */ {
}

#block-blog-0 /* "Recent blog posts" block */ {
}

#block-book-0 /* "Book navigation" block for the current book's table of contents */ {
}

#block-comment-0 /* "Recent comments" block */ {
}

#block-forum-0 /* "Active forum topics" block */ {
}

#block-forum-1 /* "New forum topics" block */ {
}

#block-menu-primary-links /* "Primary links" block */ {
}

#block-menu-secondary-links /* "Secondary links" block */ {
}

#block-node-0 /* "Syndicate" block for primary RSS feed */ {
}

#block-poll-0 /* "Most recent poll" block */ {
}

#block-profile-0 /* "Author information" block for the profile of the page's author */ {
}

#block-search-0 /* "Search form" block */ {
}

#block-statistics-0 /* "Popular content" block */ {
}

#block-user-0 /* "User login form" block */ {
	margin-top: 5px; /* Ajout Fatality : On décale légèrement le bloc pour qu'il ne soit pas collé au bord */
	background-image: url(../images/elements_background.png); /* Ajout Fatality : image de fond */
	color: white; /* Ajout Fatality : couleur par défaut pour le texte */
}

/* Ajout Fatality : On offre une petite marge au contenu du bloc pour éviter de le coller au bord */
#block-user-0 .content {
	margin-left: 5px;
}

#block-user-1 /* "Navigation" block for Drupal navigation menu */ {
	margin-top: 5px; /* Ajout Fatality : On décale légèrement le bloc pour qu'il ne soit pas collé au bord */
	background-image: url(../images/elements_background.png); /* Ajout Fatality : image de fond */
	color: white; /* Ajout Fatality : couleur par défaut pour le texte */
}

#block-user-2 /* "Who's new" block for a list of the newest users */ {
}

#block-user-3 /* "Who's online" block for a list of the online users */ {
	background-image: url(../images/elements_background.png); /* Ajout Fatality : image de fond */
	color: white; /* Ajout Fatality : couleur par défaut pour le texte */
}

/* Ajout Fatality : On offre une petite marge au contenu du bloc pour éviter de le coller au bord */
#block-user-3  .content{
	margin-left: 5px;
}

/* Ajout Fatality : Configuration pour le bloc progression !!! ATTENTION !!! Changer la position du bloc changera son id !!! */
#block-block-2 {
	margin-top: 5px; /* Ajout Fatality : On décale légèrement le bloc pour qu'il ne soit pas collé au bord */
	background-image: url(../images/elements_background.png); /* Ajout Fatality : image de fond */
	color: white; /* Ajout Fatality : couleur par défaut pour le texte */
}
