/* @override 
	http://localhost/~matthieuily/dupral-6.22/sites/all/themes/fatality/css/page-backgrounds.css?5
	http://localhost/~matthieuily/dupral-6.22/sites/all/themes/fatality/css/blocks.css?5
	http://localhost/~matthieuily/dupral-6.22/sites/all/themes/fatality/css/page-backgrounds.css?v
*/

/**
 * @file
 * Page Background Styling
 *
 * The default layout method of Zen doesn't give themers equal-height columns.
 * However, equal-height columns are difficult to achieve and totally
 * unnecessary. Instead, use the Faux Columns method described in the following
 * ALA article:
 *   http://www.alistapart.com/articles/fauxcolumns/
 */


body {
	background: #e3e3e3 url(../images/rage-of-the-firelands-background.jpg) no-repeat fixed 50%;
	width: 100%;
	height: 100%;
	position: static;
	color: #999999;
    line-height: 135%;
}

#page-wrapper {
}

#page {
}

#header {
	
}

#header .section {
	
}

#main-top3 {
    background: url("../images/main-tm.png") repeat-x scroll 0 0 transparent;
}

#main-top3 {
    height: 17px;
    margin-left: 13px;
    margin-right: 13px;
}

#main-wrapper {
	background: url("../images/main-m.png") repeat scroll 0 0 transparent;
	margin-left: 13px;
    margin-right: 13px;
}

#main-top {
    background: url("../images/main-tl.png") no-repeat scroll 0 0 transparent;
}
#main-top {
    float: left;
    height: 17px;
    width: 13px;
}

#main-top2 {
    background: url("../images/main-tr.png") no-repeat scroll 100% 0 transparent;
}

#main-top2 {
    float: right;
    height: 17px;
    width: 13px;
}


#main {
}

#footer {
}

#footer .section {
}
